.home{
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  margin-top: 20px;
  /* justify-content: center; */
}
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
}