.card{
  width: 35vw;
  height: 120px;
  border: none;
  border-radius: 4px;
  background-color:antiquewhite;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 10px;
  position: relative;
  cursor: pointer;
}
.card:hover{
  transition: all 0.3s ease;
  transform: scale(1.05);
  background-color: rgb(255, 213, 172);
}
.container{
  display: flex;
  gap: 20px;
}

.surahname{
  position:absolute;
  bottom: 42px;
  left:15px;
}
.surahtranslation{
  position: absolute;
  bottom: 10px;
  left:15px
}
.suraharabicname{
  position: absolute;
  bottom: 10px;
  right: 15px;
}
.suraharabictran{
  position: absolute;
  bottom: 42px;
  right: 15px;
}
h6{
  font-size: 20px;
  color: brown;
}
.ayat{
  align-items: center;
  justify-content: center;
  justify-items: center;
}